{% extends "base.html" %}

{% block title %}photo_change_list.html{% endblock %}

{% block content %}
<div id="content" style="margin-left:40px;">

    <h1>Photo Change - {{user}}</h1>

    <table class="change-list">
        <tr>
            <th>Album</th>

            <th>origin</th>
            <th>Description</th>
            <th>cnt</th>
            <th>price</th>
            <th>subscription_ratings</th>
            <th>purchase_after_sub</th>
            <th>Owner</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        {% for item in object_list %}
        <tr>
            <td>{{ item.album }}</td>
            <td>{{ item.origin }}</td>
            <td>{{ item.description|linebreaks }}</td>
            <td>{{item.cnt}}</td>
            <td>{{item.price}}</td>
            <td>{{item.Subscription_ratings}}</td>
            <td>{{item.purchase_after_sub}}</td>
            <td>{{ item.owner }}</td>
            <td><a href="{% url 'photo:photo_update' item.id %}">Update</a></td>
            <td><a href="{% url 'photo:photo_delete' item.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
